:root {
  --grey-lighter: rgba(241, 241, 241, 0.5);
  --grey-light: #ebebeb;
  --grey-dark: #b4b4b4;
  --grey-darker: #737c84;

  --weather-blue: #69a3ff;
  --weather-orange: #ff9632;
  --weather-red: #ed1946;

  --box-shadow-color: rgba(51, 51, 51, .1);
  --background-color: var(--grey-lighter);
  --font-color: var(--grey-dark);

  --nav-height: 3.5rem;
}

@media screen and (min-width: 881px) {
  :root {
    --body-width: 876px;
  }
}

body, html {
  background-color: var(--background-color);
  font-family: Helvetica, Arial, sans-serif;
  color: var(--font-color);
  margin: 0;
}

.section {
  padding-top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
}

@media screen and (max-width: 880px) {
  .section {
    flex-direction: column;
    height: 100%;
  }
}
